.card{
  width: 23rem;
  gap: 1rem;
  padding: 1rem;
  margin-top: 6rem; /* alteração da posição do login-form */
  height: calc(100vh -86px);
}

.cardDark{
  background-color: #31313196;
}

.inputSpacing+.inputSpacing{
  margin: 1rem 0;
}