footer {
  margin-top: 20%;
  }


.footerWrapper {
  margin-top: auto;
  /*display: flex; o displau flex que estava dando problemas no footer*/ 
  flex-direction: column;
  align-items: center;
}

.top {
  text-transform: uppercase;
  padding: 1rem;
  background: #f21d1d;
  border: none;
  color: white;
  margin-top: 2rem;
  /*width: 20%;*/

  /*edição do botão de scroll*/

  margin-bottom: 7rem;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
  left: 90%;
}


.footer {
  padding: 2rem 0;
  margin-top: 20px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  filter: brightness(0);
}

.iconsDark{
  filter: brightness(0) invert(1);
}

.dhLogo{
  max-width: 50%;
}

.icon {
  max-width: 2rem;
  height: auto;
}